# Ambiente virtual Python
venv/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configurações do editor
.vscode/
.idea/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
docker-compose.override.yml

# Banco de dados local (SQLite, por exemplo)
*.sqlite3
*.db

# Cache do pytest
.pytest_cache/

# Cache do mypy
.mypy_cache/

# Distribuições e builds
build/
dist/
*.egg-info/
